@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "cupcake";
  default: true;
  --color-primary: #f87171;
  --color-primary-content: #2D3748;
  --color-base-100: oklch(98% 0 0);
  --color-secondary: #fbbf24;
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

